.social {
    font-family: 'Verdana', sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}

.social h1 {
    color: #6a381f;
    padding: 1rem;
    font-weight: bold;
    font-weight: bold;
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.social p {
    color: #6a381f;
    font-weight: normal;
    text-align:justify;
}